* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
}

body {
	background-color: #feffff;
}

/*START OF NAVBAR*/
.navbar {
	background-color: #feffff;
	text-transform: uppercase;
	font-weight: 900;
	color: white;
	font-family: 'Roboto', sans-serif;
	border-bottom: 2px solid lightgray;
}

.navbar a:hover {
	transform: scale(0.9);
	transition: .5s;
}

.navbar-brand {
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	letter-spacing: 1px;
}

.logo {
	height: 3rem;
	width: auto;

}
/* END OF NAVBAR */



/* HEADER */
#jumbo-landing {
	background: 
	/*top, transparent*/
	linear-gradient(
        rgba(0, 0, 0.5, -6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	/*bottom, image*/
	url(../images/bg8.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	/* padding-top: 12%; */
}

.header-title {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 10rem;
	opacity: 1;
	width: 100%;
	font-weight: 800;
	text-transform: uppercase;
}


#sub-title {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	opacity: 1;
	font-weight: 800;
}

.btn a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.btn:hover {
	transform: scale(1.1);
	transition: .5s;
}

#headerbtn {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: black;
}

/* END OF HEADER */

/*START OF MAIN CARDS*/


#trainings {
	background: 
	linear-gradient(
        rgba(0, 0, 0.5, -5),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	url(../images/bg9.jpg);
	/*background-color: #112d32;*/
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}

.card {
	width: 19rem;
	background-color: #feffff;
	/*border: 1px solid black;*/
	
}



.card:hover {
	box-shadow: 4px 8px 5px black;
	transition: .5s;
	opacity: 1;
	
}

.card h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
	color: black;
	text-align: left;
}

.card p {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	font-weight: 400;
	color: black;
	text-align: left;
}

.card a{
	background-color: #feffff;
	color: black;
	text-transform: uppercase;
	font-size: 1rem;
}

.card a:hover {
	transform: scale(1.1);
	transition: .5s;
}

.modal-btn button {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1rem;
}

.modal-btn button:hover {
	background-color: #747474;
	transition: .5s;
	color: white;
}


/*end of main cards*/

/*------SWIPER JS-----------*/
	 .swiper-container {
	    width: 100%;
	    padding-top: 50px;
	    padding-bottom: 50px;
	    min-height: 50vh;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		height: 15rem;
		background-color: #000;
		-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#feffff);
	}

	#swiper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img{
		height: 15rem;
		width: auto;
	}


/*----LOADING--------*/

#loader {
	min-height: 100vh;
	width: 100%;
	background-color: lightgray;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}

#loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#loader h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	font-family: 'Raleway', sans-serif;
}

/*----END OF LOADING--*/



/*-----------------GAME PAGE -----------------------------*/

.game-main-container {
	min-height: 80vh;
	background: 
	linear-gradient(
        rgba(0, 0, 0.5, -9),
        rgba(0, 0.5, 0.9, 1)
	     ),
	url(../images/bg2.jpg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.game-container {
	margin-left: 5rem;
	margin-right: 5rem;

}

.gametime {
	padding-top: 3rem;
	align-items: center;
	justify-content: center;
}
.gametime h2 {
	padding-top: 2rem;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;

}

.gametime p {
	padding-top: 2rem;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 400;
	
}


/*Testimonials*/

.main-testimonials-container {
	background: 
	/*top, transparent #92C7b0*/
	linear-gradient(
        rgba(0, 0, 0.5, 0.9),
        rgba(0, 0.5, 0.9, 0.5)
	     ),
	/*bottom, image*/
	url(../images/bg3.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 1rem;
}

.main-testimonials-container h2 {
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		text-align: center;
		padding-top: 2rem;
		color: white;
		font-weight: 900;
		letter-spacing: 2px;
	}

	.testimonials-container {
		display: flex;
		justify-content: space-around;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.testimonials {
		width: 45%;
		justify-content: space-around;
		font-size: 0.8rem;
		font-family: 'Montserrat', sans-serif;
		margin-top: 2rem;
		margin-bottom: 1rem; 
		border: 2px solid white;
		padding: 1rem;
		border-radius: 10px;
	}

	.testimonials h3{
		margin-bottom: .5rem;
		color: white;
		font-weight: 400;
		line-height: 1.3;
		text-align: left;
		font-size: 1rem;
	}

	.testimonials p {
		color: white;
		text-transform: uppercase;

	}

/* ------ END OF TESTIMONIALS ----------*/



/*---------------BENEFITS--------------------*/
.benefits-main-container {
	min-height: 80vh;
	
	

}

.benefits-container{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-top: 4rem;
	justify-content: center;

}

.benefits-main-container h2{
	color: black;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: 2rem;
	letter-spacing: 2px;
}

.benefits:hover {
	transition: 3s;
}

.benefits i:hover {
	color: cyan;
	transition: 1s;
}

.benefits h3:hover {
	color: cyan;
	transition: 1s;
}

.benefits h3 {
	color: black;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.benefits i {
	font-size: 5rem;
	color: darkgray;
}

.benefits p {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	text-align: justify;
	width: 95%;
}

/*---------------FOOTER ---------------*/
.footer {
	background-color: #feffff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	min-height: 5rem;
	color: black;
	border-top: 2px solid lightgray;
}

.footer h2 {
	font-size: 1rem;

}

.footer i {
	font-size: 1.5rem;
	margin-left: 1rem;
}

.footer i:hover {
	color: cyan;
	transition: .5s;
	transform: rotate(360deg);
}

.footer p {
	font-size: .8rem;
}

.footer a {
	color: black;
	
}

.fa-chevron-circle-up {
	font-size: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}









/* ---------------DRIBBLE CSS -----------------*/

/*start of carousel*/
#carouselExampleIndicators {
	height: 100vh;
	width: auto;
	

}

.carousel-item img {
	height: 100vh; 
}

#dribble {
	background-color: #feffff;
	color: black;

}

#card-dribble {
	background-color: #6b6e70;
}

#dribble h5 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	color: black;
}

#dribble p {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;

}

#dribble li {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#dribble img {
	height: 13rem;
	width: auto;
}

.modal-header h5 {
	color: black;
}

.modal-body h5{
	color: black;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.modal-body p{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
}

.moday-body ul {
	color: black;
	font-family: 'Montserrat', sans-serif;
}


/*end of carousel*/

/*----------------END OF DRIBBLE PAGE ------------*/


/*-----------SHOOTING PAGE --------------*/

#shooting {
	background-color: #feffff;

}

#card-shooting {
	background-color: #6b6e70;
}

#shooting h5 {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: yellow;
}

#shooting p {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;
}

#shooting li {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#shooting img {
	height: 13rem;
	width: auto;
}


/*.modal-body h5 {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;

}*/

/*-------END OF SHOOTING PAGE------------------*/

/*-----------------CONDITION PAGE -----------------------*/
#condition {
	width: 100%;
	background-color: #feffff;

}

#card-condition {
	background-color: #6b6e70;
}

#condition h5 {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#condition p {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: white;
}

#condition li {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#condition img {
	height: 13rem;
	width: auto;
}


/*.modal-body {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	color: black;

}*/







/*-------------------------ABOUT PAGE ----------------------------------*/

.main-about-container {
	min-height: 100vh;
	background-color: #feffff;

}

.main-about-container h1 {
	color: black;
	padding-top: 3rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: 900;
}

.about-container {
	padding-bottom: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.about {
	padding-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	
}

.about img {
	height: 20rem;
	width: auto;
	box-shadow: 2px 2px 3px 1px black;
}


.about-info {
	width: 50%;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: justify;
}

.about-info h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	font-weight: 700;1
	text-transform: uppercase;
	color: black;
	
}

.about p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	letter-spacing: 1px;
	color: black;
	width: 100%;

}

/*---------------------------END OF ABOUT---------------------*/


/*--------------------GALLERY PAGE -------------------------------*/

#gallery {
	min-height: 100vh;
	background-color: #feffff; 
}

#gallery h1 {
	color: black;
	padding-top: .5rem;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: 900;
}

#gallery img {
	height: 13rem;
	width: 100%;
}

#gallery img:hover{
	transform: scale(1.1);
	transition: .5s;
}


#gallery iframe {
	height: 13rem;
	width: 100%;
}








/*------- END OF GALLERY PAGE ------------------------------*/

/*------------------CONTACT PAGE ---------------------------*/
#contact-page {
	min-height: 100vh;
	background: 
	linear-gradient(
        rgba(3, 5, 7, .1),
        rgba(0, 0.5, 0.9, .9)
	     ),
	url(../images/bg8.jpg);
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #feffff; 
}

#contact-page h1 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
}

#contact-page h2 {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
}

#contact-page label {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.form-group {
	opacity: .9;
}

.form-group textarea {
	border-radius: 8px;
	width: 100%;
	padding: 1rem;
	border: none;
}

textarea:focus{
	color: green;
}
#maps {
	height: 25rem;
	width: 100%;
	opacity: .7;
}









/*----------END OF CONTACT PAGE --------------------------*/

/*-------large portrait tablet-----------*/


@media only screen and (min-width: 961px) and (max-width: 1024px) {
	
	#jumbo-landing {
		padding-top: 15rem;
	}

	.header-title {
		font-size: 8rem;
	}

	.card {
		width: 80%;
	}

	.benefits-container{
		flex-direction: column;

	}

}

/*tablet */
@media only screen and (min-width: 481px) and (max-width: 960px){

	#jumbo-landing {
		padding-top: 13rem;
	}

	.header-title {
		font-size: 6rem;
	}

	#sub-title {
		font-size: 1rem;
	}

	span {
		display: none;
	}

	.card {
		width: 90%;
		min-height: 26rem;
	}

	.card-body {
		width: 100%;
		padding: 1rem;
		text-align: left;
		
	}

	.card h5 {
		font-size: 1.1rem;
		width: 100%;
		
		
	}

	.card p {
		font-size: .9rem;

	}

	.card a {
		
		font-size: 1rem;
	}

	

	



	/*----------------ABOUT US -----------------------*/
	.about {
		padding-top: 1rem;
		margin-bottom: 1rem;
		

	}

	/*.about-info {
		width: 100%;
	}*/

	.about img {
		height: 13rem;
		width: auto;
		text-align: center;
	}

	.about-info {
		width: 80%;
		padding-left: 1rem;
		padding-right: 1rem;

	}

	.about h5 {
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		font-weight: 900;
	}

	.about p {
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;


	}

	#about-img1 {
		order: 1;
	}

	#about-info2 {
		order: 2;
	}

	/*-----------SHOOTING PAGE----------*/
	#shooting h5 {
		text-transform: uppercase;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
	}

	#shooting p {
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;
	}

	/*---------------BENEFITS---------------*/

	.benefits-container{
		flex-direction: column;

	}

	.benefits {
		padding: 1rem;
		margin-bottom: 2rem;
	}


	.benefits-main-container h2{
		color: black;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
	}

	.benefits h3 {
		color: black;
		font-size: 1.5rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
	}

	.benefits i {
		font-size: 5rem;
	}

	.benefits p {
		color: black;
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;
		text-align: justify;
		
	}
}



@media only screen and (max-width: 480px) {

	#jumbo-landing {
		padding-top: 15rem;
	}

	.header-title {
		font-size: 2.9rem;
	}

	#sub-title {
		font-size: 1rem;
	}

	#headerbtn {

	}

	span {
		display: none;
	}


	/*------GAME TIME ----------*/

	.game-container {
		margin-left: 0;
		margin-right: 0;

	}

	
	.gametime {
		padding-top: 3rem;
	}
	.gametime h2 {
		padding-top: 2rem;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 2rem;
		text-align: center;

	}

	.gametime p {
		padding-top: 2rem;
		font-family: 'Montserrat', sans-serif;
		width: 100%;
		font-size: 1.2rem;
		font-weight: 400;
		
	}

	/*------Testimonials-----------*/

	.main-testimonials-container h2 {
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		padding-top: 2rem;
		font-weight: 900;
		letter-spacing: 2px;
	}

	.testimonials-container {
		flex-direction: column;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.testimonials {
		width: 100%;
		justify-content: space-around;
		font-size: 0.8rem;
		font-family: 'Roboto', sans-serif;
		margin-top: 2rem;
		margin-bottom: 1rem; 
		border: 2px solid white;
		padding: 1rem;
		border-radius: 10px;
	}

	.testimonials h3{
		margin-bottom: .5rem;
		font-weight: 400;
		line-height: 1.3;
		text-align: left;
		font-size: 1rem;
	}

	.testimonials p {
		text-transform: uppercase;

	}

	/*---END OF TESTIMONIALS*/

	


	/*END OF TRAININGS*/


	/*---gametime----------*/
	.game-container {
	margin-left: 5rem;
	margin-right: 5rem;
	display: flex;

	}

	.gametime {
		padding-top: 3rem;
		align-items: center;
		justify-content: center;
	}
	.gametime h2 {
		padding-top: 2rem;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 2rem;
		text-align: center;

	}

	.gametime p {
		padding-top: 2rem;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		width: 100%;
		font-size: 1.2rem;
		font-weight: 400;
		
	}


	/*--------END--------------*/





	/*----------------ABOUT US -----------------------*/
	.about {
		flex-direction: column;
		padding-top: 1rem;
		margin-bottom: 1rem;
		

	}

	.about-info {
		width: 100%;
	}

	.about img {
		height: 12rem;
		width: auto;
		text-align: center;
	}

	.about-info {
		width: 100%;
	}

	.about h5 {
		font-family: 'Roboto', sans-serif;
		font-size: 1.3rem;
		font-weight: 900;
	}

	.about p {
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;

	}

	#about-img1 {
		order: 2;
	}

	#about-info2 {
		order: 1;
	}

	.card {
		width: 90%;
	}

	.modal-btn button{
		margin-top: .5rem;
		text-align: center;
	}

	

	/*----GALLERY----------*/
	#gallery h1 {
		padding-top: .5rem;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		font-weight: 900;
	}

	/*-------CAROUSEL-----------*/
	#carouselExampleIndicators {
		height: 100vh;
		width: auto;
	}

	.carousel-item img{
		object-fit: cover;
		object-position: center;

	}

	/*---------------BENEFITS---------------*/

	.benefits-container{
		flex-direction: column;

	}

	.benefits {
		padding: 1rem;
		margin-bottom: 1rem;
	}

	.benefits-main-container h2{
		color: black;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
		font-size: 1.5rem;
	}

	.benefits h3 {
		color: black;
		font-size: 1.5rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
	}

	.benefits i {
		font-size: 5rem;
	}

	.benefits p {
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;
		text-align: justify;
		
	}

}








